@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>GetAll</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una Materia para editar  o presion "Agregar para registrar una nuevas"</h5>
            <hr />
        </div>
    </div> 
</div>

<div style="float:right;">                   
    @Html.ActionLink("Agregar", "Form", "Materia", htmlAttributes: new { @class = "btn btn-success" })
</div>                         
<br />
<table class="table table-hover table-striped table-bordered table-responsive" id="table_usuarios">
    <thead>
        <tr class="table-secondary">
            <td>Editar</td>
            <td style="display :none;">id</td>
            <td>Nombre</td>
            <td>Creditos</td>
            <td>Costo</td>
            <td>Semestre</td>
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Materia materia in Model.Materias)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning glyphicon glyphicon-pencil" href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })"><i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                <td style="display :none;">@materia.IdMateria </td>
                <td>@materia.Nombre</td>
                <td>@materia.Creditos</td>
                <td>@materia.Costo</td>
                <td>@materia.Semestre.IdSemestre</td>

                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-remove" href="@Url.Action("Delete", "Materia", new { IdMateria= materia.IdMateria})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
            </tr>
        }

    </tbody>
</table>